<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>500 - Erro interno no servidor</h2>
    <p>Ocorreu um erro interno no servidor, consulte o administrador do sistema para mais detalhes.</p>
  </body>
</html>
